<div class="vizew-post-author d-flex align-items-center py-5">
    <div class="post-author-thumb">
        @{ 
            var imgSrc = Model.User.UserPhoto;
        }
        <img src="@imgSrc" alt="">
    </div>
    <div class="post-author-desc pl-4">
        <a href="#" class="author-name">@Model.User.UserName</a>
        <strong>@Model.Title</strong>
        <p>@Model.Content</p>
        <div class="post-author-social-info">
            <div class="panel-footer">
                <a class="btn btn-sm btn-success"
                   href="/Post/Edit/@Model.PostId">Modify post</a>

                <form method="post" action="/Post/Delete/@Model.PostId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-sm btn-danger" type="submit">Delete Post</button>
                </form>
            </div>
        </div>
    </div>
</div>