<!-- Single Post Area -->
<div class="sectionContainer" style="width:50%;min-height:unset;">
    <div class="single-post-area style-2">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <!-- Post Thumbnail -->
                <div class="post-thumbnail">
                    @{
                        var imgSrc = Model.User.UserPhoto;
                    }
                    <img src="@imgSrc" alt="profilepic">

                </div>
            </div>
            <div class="col-12 col-md-6">
                <!-- Post Content -->
                <div class="post-content mt-0">
                    <a href="#" class="post-cata cata-sm cata-success">@Model.Category.CategoryName</a>
                    <a href="/Thread/Show/@Model.ThreadId" class="post-title mb-2">@Model.Title</a>
                    <div class="post-meta d-flex align-items-center mb-2">
                        <a href="#" class="post-author">By @Model.User.UserName</a>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <a href="#" class="post-date">@Model.Created</a>
                    </div>
                    <p class="mb-2">@Model.Content</p>
                    <div class="post-meta d-flex">
                        <a href="/VoteThread/New/@Model.ThreadId/1">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            @Html.Action("ShowThumbsUp", "VoteThread", new { @id = Model.ThreadId })
                        </a>
                        <a href="/VoteThread/New/@Model.ThreadId/0">
                            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                            @Html.Action("ShowThumbsDown", "VoteThread", new { @id = Model.ThreadId })
                        </a>
                    </div>
                    <br />
                    @if (ViewBag.Function == "Show" && (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin))
                    {
                        <div style="width:auto;float:left;clear:left" class="panel-footer">
                            <a style="float:left;margin-right:1%" class="btn btn-sm btn-success" href="/Thread/Edit/@Model.ThreadId">
                                Edit
                            </a>
                            <form style="overflow:hidden" method="post" action="/Thread/Delete/@Model.ThreadId">
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<br />
