@model Forum.Models.Thread

@{
    ViewBag.Title = "Showing " + "'" + Model.Content + "'" + " thread";
}

@section content {

    <br />
    <hr />
    <a class="vizew-btn" style="margin-left:5%;" href="/Thread/Index">Back to threads</a>
    <br /><br />


    <a class="vizew-btn" style="width:20%;height:100%;display:block;margin:auto;align-content:center;text-align:center;" href="/Post/New/@Model.ThreadId">
        <span style="position: relative;top:33%;">Add post</span>
    </a>

    <br /><br />

    <div>
        @Html.Partial("ThreadInfo")
    </div>


    <br /><br />

    <!-- AFISAREA TUTOROR POSTURILOR DE LA THREADUL RESPECTIV-->

    @if (ViewBag.Validator)
    {

        <div style="text-align:center;display:block;margin:auto">
            <i class="fa fa-arrow-down" style="color:white;"></i>
        </div>
        <br /><br />


        <ul style="display:block;margin:auto;width:80%;border-color:lightgray;border-radius:25px;border:groove">
            <br />
            @foreach (Forum.Models.Post post in ViewBag.Posts)
            {
                <li class="sectionContainer" style="width:75%;min-height:unset;">
                    <div class="vizew-post-author d-flex align-items-center py-5">
                        <div class="post-author-thumb">
                            @{
                                var imgSrc = @post.User.UserPhoto;
                            }
                            <img src="@imgSrc" alt="">
                        </div>
                        <div class="post-author-desc pl-4">
                            <a href="#" class="author-name">@post.User.UserName</a>
                            <p style="word-break:break-all;">@post.Content</p>
                        </div>

                        @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
                        {
                            <br /><br />
                            <div style="width:auto;float:left;clear:left" class="panel-footer">
                                <a style="float:left;margin-right:1%" class="btn btn-sm btn-success" href="/Post/Edit/@post.PostId">
                                    Edit
                                </a>
                                <form style="overflow:hidden" method="post" action="/Post/Delete/@post.PostId">
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                </form>
                            </div>
                        }

                    </div>
                </li>
            }

        </ul>

    }
    <br /><br />
    <a class="vizew-btn" style="width:20%;height:100%;display:block;margin:auto;align-content:center;text-align:center;" href="/Post/New/@Model.ThreadId">
        <span style="position: relative;top:33%;">Add post</span>
    </a>

    <hr />
    <a class="vizew-btn" style="margin-left:5%;" href="/Thread/Index">Back to threads</a>
    <br /><br /><br />
}
